.body-content
  .profile{:style => ("display: none" unless devise_error_messages! == "") }
    %h1
      = @user.login
      %span= @user.role.capitalize
    = image_tag @user.avatar.url(:thumb)
    .personal-data
      - [:firstname, :lastname, :email].each do |field|
        %b= t("activerecord.attributes.user.#{field}")+':'
        = @user.send(field)
        %br
    %a#edit-user-settings{:href => "#"}= t('devise.registrations.edit.edit')
  #user-settings.user-settings{:style => ("display: none" if devise_error_messages! == "" )}
    = devise_error_messages!
    = link_to t(".back"), "#", :id => "hide-settings"
    %h1= t(".title")
    .content
      .user-data
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          .col-md-6.form-group
            = f.label :firstname
            = f.text_field :firstname, |
              :autofocus => true,      |
              :class => "form-control" |
          .col-md-6.form-group
            = f.label :lastname
            = f.text_field :lastname,  |
              :class => "form-control" |
          .form-group
            = f.label :login
            = f.text_field :login,     |
              :class => "form-control" |
          -if @user.oauth
            .form-group
              = f.label :email
              = f.email_field :email,    |
                :class => "form-control" |
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form-group
              = f.label :password
              = f.password_field :password,         |
                :autocomplete => "off",             |
                :class => "form-control",           |
                :placeholder => t(".password_hint") |
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, :class => "form-control"
            .form-group
              = f.label :current_password
              = f.password_field :current_password,         |
                :class => "form-control",                   |
                :placeholder => t(".current_password_hint") |
          .form-group
            = f.label :profile_role
            = f.collection_select :role,   |
              User::ROLES,                 |
              :to_s,                       |
              :humanize,                   |
              {},                          |
              { :class => "form-control" } |
          .form-group
            = f.label :avatar
            = f.file_field :avatar
          %div= f.submit t(".update"), :class => "submit"
.sidebar-right
  .danger-zone{:style => ("display: none" if devise_error_messages! == "") }
    %h1
      = t ".danger_zone"
    .content
      = button_to t(".delete_account"),                 |
        registration_path(resource_name),               |
        :data => { :confirm => t(".delete_question") }, |
        :method => :delete,                             |
        :class => "button-delete"                       |
