.register-well
  %h2.text-center= t(".title")
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      .col-md-6.form-group
        = f.label :firstname
        = f.text_field :firstname, |
          :autofocus => true,      |
          :class => "form-control" |
      .col-md-6.form-group
        = f.label :lastname
        = f.text_field :lastname,  |
          :class => "form-control" |
    .form-group
      = f.label :login
      = f.text_field :login,     |
        :class => "form-control" |
    .form-group
      = f.label :email
      = f.email_field :email,    |
        :class => "form-control" |
    .form-group
      = f.label :password
      = f.password_field :password, |
        :autocomplete => "off",     |
        :class => "form-control"    |
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, |
        :class => "form-control"                 |
    .text-center= f.submit t(".signup"), :class => "btn btn-primary btn-lg"
  %br/
  = render "devise/shared/links"
.register-benefits
  %h1= t(".why_we")
  .benefit
    %img{:src => "/assets/signup/rss_and_atom.png"}/
    .description
      = t(".rss_atom_support")
  .benefit
    %img{:src => "/assets/signup/dollar.png"}/
    .description
      = t(".cheap")
  #google.benefit
    %img{:src => "/assets/signup/google.png"}/
    .description
      = t(".google_signup")
