- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t(".forgot_password"), new_password_path(resource_name)
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to ".confirmation_instructions", new_confirmation_path(resource_name)
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t(".unlock_instructions"), new_unlock_path(resource_name)
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to t(".signin_with")+" #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
