.article{ "data-link" => article.link }
  %div.www
    - unless current_user.articles.include? article
      = link_to "",                       |
          url_options = {                 |
          :controller => :users,          |
          :action => :feed,               |
          :page => @page,                 |
          :favorite_id => article.id      |
        },                                |
          html_options = {                |
            :title => "Add to favorites", |
            :class => "to-favs"           |
        }                                 |
    - else
      = link_to "",                            |
          url_options = {                      |
          :controller => :users,               |
          :action => :favorites,               |
          :page => @page,                      |
          :favorite_id => article.id           |
        },                                     |
          html_options = {                     |
            :title => "Delete from favorites", |
            :class => "in-favs"                |
        }                                      |
    = article.site_name
    %div.pubdate= time_ago_in_words(article.date)+" "+t("helpers.time.ago")
  %h1
    = article.title
  - if article.image
    = image_tag article.image
  .content
    = article.summary.html_safe if article.summary