- if user_signed_in?
    - if @feed.previous_page
        = link_to "", params.merge(:page => @feed.previous_page) , :class => "previous-pointer", :title => t('navigation.new_news_hint')

    .body-content
        = render partial: "articles/article", collection: @feed, :locals => { :not_favorite => not_favorite }
        
    - if @feed.next_page
        = link_to "", params.merge(:page => @feed.next_page) , :class => "next-pointer", :title => t('navigation.old_news_hint')
