<div class="body-content">
  <div class="forgot-password">
    <h1>Forgot your password?</h1>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "Send me reset password instructions" %></div>
    <% end %>
  </div>
</div>
