<div class="body-content">
    <div class="welcome">
       <h1><%= t('welcome.title') %></h1> 
       <p><%= t('welcome.message') %></p>
       <div class="login-links">
           <%= link_to t('navigation.signup'), new_user_registration_path, :class => "signup-link" %>
           <%= link_to t('navigation.signin'), new_user_session_path, :class => "login-link" %>
           <%= link_to t('navigation.google_signup'), user_omniauth_authorize_path(:google_oauth2), :class => "google-link", :title => t('navigation.google_signup') %>
        </div>
    </div>
</div>