.body-content
  .subscriptions-manager
    .suggest
      = t('subscriptions.suggest_title')
      = form_tag channels_path do
        = text_field_tag :channel_url
        = submit_tag t('subscriptions.suggest_button')
    %h1= t("subscriptions.subscriptions")
    - if @subscriptions == []
      = t('subscriptions.no_subscriptions')
    %ul.subscriptions
      - @subscriptions.each do |subscription|
        %li
          = form_tag  subscription_path(subscription), |
            :action => :delete,                        |
            :method => :delete ,                       |
            :style => "display:inline"  do             |
            = submit_tag subscription.title, :class => ""
          = form_tag edit_subscription_path(subscription), |
            :action => :edit,                              |
            :class => "edit-channels-title-form",          |
            :style => "display:none",                      |
            :method => :get do                             |
            = text_field_tag :new_title, subscription.title
          %span.edit-channel-title
    %h1= t('subscriptions.available_channels')
    - if @channels.each == []
      = t('subscriptions.no_available_channels')
    %ul.channels
      - @channels.each do |channel|
        %li
          = form_tag subscriptions_path,   |
            :action => :create,            |
            :method => :post,              |
            :style => "display:inline"  do |
            = hidden_field_tag :channel_id, channel.id
            = submit_tag channel.title