.body-content
  .login
    %h1= t ".title"
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        = f.email_field :email,    |
          :autofocus => true,      |
          :class => "form-control" |
      .form-group
        = f.label :password
        = f.password_field :password, |
          :class => "form-control"    |
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me
      .text-center= f.submit t('.signin')
    = render "devise/shared/links"
