@import basic_elements

.hidden
  display: none

.alert
  @include button(white, red)
  margin-top: 1em
  text-align: center

.notice
  //@include button(white, #4AABFF)
  @include button(white, #61A9E8)
  margin-top: 1em
  text-align: center

