@import variables
@import basic_elements

$img-width: 10%

.article
  margin: 1em 0 1em 0
  padding: 1em
  display: block
  background: white
  border:
    radius: 0.2em
    style: solid
    color: #B8B8B8
    width: thin
  box-shadow: 0 0 1em darkgrey
  @each $engine in $engines
    -#{$engine}-transition: box-shadow .1s ease-out
  &:hover
    cursor: pointer
    box-shadow: 0 0 1em white
    border-color: white
  a.in-favs
    position: absolute
    left: 0
    text-decoration: none
    cursor: default
    color: black
    z-index: 4
    font:
      family: "FontAwesome"
      size: 20px
    &:before
      color: #FFF700
      content: "\f005"
      text-shadow: 0 0 2px black
  a.to-favs
    position: absolute
    cursor: default
    left: 0
    text-decoration: none
    color: black
    z-index: 4
    text-shadow: 0 0 0em white
    &:hover:before
      color: #FFF700
      content: "\f005"
      text-shadow: 0 0 2px black
    &:before
      font:
        family: "FontAwesome"
        size: 20px
      content: "\f006"
      color: #4A4A4A
  .pubdate
    position: absolute
    top: 0
    right: 0
    text-shadow: 0 0 0em white
    text-transform: none
    font:
      family: "Arial"
      weight: normal
      size: 1.0em
  .www
    position: relative
    height: 20px
    text-align: center
    margin-bottom: 0.5em
    display: block
    color: grey
    text-transform: uppercase
    text-shadow: 0 0 1em grey
    font:
      family: "Arial"
      weight: normal
      size: 12px
  h1
    margin: 0 0 0.5em 0
    padding-bottom: 0.2em
    +header-border
    font:
      family: "Arial"
      weight: normal
      size: 1.2em
  .content
    display: inline
    font-family: Verdana
    font-size: 0.75em
    color: #3D3D3D
  img
    float: left
    margin: 0 1em 0em 0em
    height: 1px
