@import variables

@mixin header-border
  border:
    style: none none solid none
    color: lightgrey
    width: thin

@mixin header
  display: block
  h1
    font:
      family: "Arial"
      size: 32px
      weight: normal

@mixin header-big
  @include header
  h1
    font-size: 32px

@mixin header-medium
  @include header
  h1
    font-size: 16px

@mixin error
  text-align: left
  margin: 0 0 1em 0
  color: #FFFBE0
  background: #DE4343
  font-family: "Verdana"
  font-size: 0.8em
  border:
    radius: 3px
    width: thin
    style: solid
    color: #9C0C0C

@mixin animate($property, $time: .1s, $way: ease-out)
  @each $engine in $engines
    -#{$engine}-transition: $property $time $way

@mixin button($color, $background, $percentage: 10%)
  cursor: pointer
  padding: 0.5em 1em 0.5em 1em
  color: $color
  background: $background
  @include animate(background)
  font:
    family: "Arial"
  border:
    radius: 5px
    color: darken($background, $percentage)
    style: solid
    width: thin
  &:hover
    background: darken($background, $percentage)
    border-color: darken($background, $percentage*2)



@font-face
  font-family: 'FontAwesome'
  src: url('fontawesome-webfont.eot')
  src: url('fontawesome-webfont.woff')
  font-weight: normal
  font-style: normal
