@import basic_elements
@import well

.subscriptions-manager
  @extend .well
  font:
    family: "Arial"
  h1
    @include header-border
    font:
      family: "Arial"
      weight: normal
  .suggest
    text-align: center
    font:
      family: "Arial"
      size: 18px
    input[type=text]
      display: block
      margin: 1em 0 0 0
      height: 18px
      font:
        size: 16px
      width: 100%
    input[type=submit]
      @include button(white, #50AB5E)
      margin: 1em 0 0 0
      font-size: 20px
  ul
    padding-left: 1em
    list-style-type: none
    font-size: 18px

    .edit-channels-title-form
      display: inline
      input[type=text]
        display: inline
        height: 1.7em
        width: 70%
        margin-left: 0.5em
    .edit-channel-title
      display: inline
      &:before
        font:
          family: "FontAwesome"
        content: "\f040"

    input[type=submit]
      &:hover
        cursor: pointer
      border:
        style: none
      display: inline
      background: white
      font-size: 16px
    &.subscriptions
      li:before
        color: orange
        font:
          family: "FontAwesome"
        content: "\f09e"
      li:hover:before
        color: black
        content: "\f014"
    &.channels
      li:before
        font:
          family: "FontAwesome"
        content: "\f09e"
      li:hover:before
        color: darkgreen
        content: "\f067"

