@import "variables"

.body

  $body-content-offset: 25%

  .body-content
    position: absolute
    width: 100%-$body-content-offset*2
    margin-left: $body-content-offset
    margin-right: $body-content-offset


  .sidebar-left
    position: absolute
    width: $body-content-offset - 2%
    margin:
      left: 1%
      right: 1%


  .sidebar-right
    position: absolute
    width: $body-content-offset - 2%
    margin:
      left: 100%-$body-content-offset+1%
      right: 1%



  .pointer
    position: fixed
    left: 0
    width: $body-content-offset
    height: 100%
    padding-top: 10%
    font:
      family: "FontAwesome"
      size: 9em
    text:
      shadow: 0 0 0.3em white
      align: center
      decoration: none
    cursor: pointer

    color: #C9C9C9
    @each $engine in $engines
      -#{$engine}-transition: color .25s ease-out
      -#{$engine}-transition: text-shadow .25s ease-out

    &:hover
      color: grey
      text-shadow: 0 0 0.1em white
      text-decoration: none



  .previous-pointer
    @extend .pointer
    &:before
      content: "\f053"


  .next-pointer
    @extend .pointer
    margin-left: 100%-$body-content-offset
    &:before
      content: "\f054"


