@import well
@import basic_elements

.forgot-password
  @extend .well
  text-align: center
  width: 70%
  margin:
    left: 15%
    right: 15%
  h1
    font:
      family: "Arial"
      size: 24px
      weight: normal
  label
    display: block
    font:
      family: "Arial"
      size: 13px
      weight: bold
  input[type=submit]
    @include button(#BF6C00, #FFF0BF)
    display: inline
    margin: 1em 0 0 0
