@import basic_elements
@import well

.go-home
  @extend .well
  text-align: center
  .content
    text-decoration: none
    color: black
    &:before
      content: "\f015"
      font:
        family: "FontAwesome"
    font:
      family: "Arial"
      size: 24px
