@import variables
@import basic_elements

input
  border:
    radius: 0.3em
    width: thin
    color: lightgrey
    style: solid
  @include animate(box-shadow, .25s)
  &:focus
    border-color: white
    box-shadow: 0em 0em .7em 0.01em #86C1FC
