@import basic_elements
@import well

.login
  @extend .well
  text-align: center
  width: 60%
  margin:
    left: 20%
    right: 20%
  h1
    @include header-border
    font:
      family: "Helvetica", "Arial"
      size: 24px
      weight: normal

  a
    display: block
    text-decoration: none
    color: #0068FA
    font:
      family: "Arial"
      size: 13px
    padding: 0
    margin: 0

  label
    font:
      family: "Arial"
      size: 14px
      weight: bold

  @mixin input
    &:focus
      outline: 0
    display: block
    margin: 0.3em auto 0.3em auto
  input[type=email]
    @include input
  input[type=password]
    @include input
  input[type=submit]
    @include button(white, #50AB5E)
    margin: 1em 0 1em 0
    font-size: 20px
