@import variables

$nav-content-padding: 1em
$nav-brand-font-size: 2em

nav
  z-index: 1
  position: fixed
  display: block
  @each $engine in $engines
    background: -#{$engine}-linear-gradient(top, white, #fcfcfc)
  left: 0
  top: 0
  margin-bottom: 2em
  padding: 0
  width: 100%
  border:
    style: none none solid none
    color: grey
    width: thin
  opacity: 0.9
  box-shadow: 0px 0.2em 1.5em black
  @each $engine in $engines
    -#{$engine}-transition: opacity .25s ease-in-out
    -#{$engine}-transition: box-shadow .25s ease-in-out
  .content
    padding: $nav-content-padding
    height: 32px
    .glyph
      text-decoration: none
      margin: 0 0 0 0.3em
      float: right
      display: inline
      color: darkgrey
      font:
        family: "FontAwesome"
        size: 32px
      &:hover
        cursor: pointer
        color: black

    .signup:before
      content: "\f0a9"
    .googleplus:before
      content: "\f0d4"
    .fav:before
      content: "\f005"
    .user:before
      content: "\f007"
    .search
      vertical-align: middle
      margin: 0
      &:active
        cursor: pointer
        color: black
      &:before
        font:
          family: "FontAwesome"
        content: "\f002"
      input[type=text]
        height: 1em
        padding:
          left: 0.2em
          right: 0.2em
          top: 0.1em
          bottom: 0.1em
        font:
          family: "Arial"
          size: 20px
        color: #4D4D4D
    .logout:before
      margin-left: 1em
      content: "\f090"
    .channels:before
      content: "\f143"


    .brand
      &:before
        color: orange
        padding-right: 0.4em
        content: "\f09e"
        font:
          family: "FontAwesome"
      cursor: pointer
      color: black
      text:
        shadow: 0px 0px 0.8em #A3A3A3
        decoration: none
      font:
        family: "Arial"
        size: $nav-brand-font-size
      @each $engine in $engines
        -#{$engine}-transition: text-shadow .25s ease-in-out
        -#{$engine}-transition: color .25s ease-in

.nav_hidden
  opacity: 0.3
  box-shadow: 0px 0.2em 1.5em grey
  .content
    .brand
      &:before
        color: #D1D1D1
        text-shadow: 0px 0px 0.25em #A3A3A3
      color: #d1d1d1
      text-shadow: 0px 0px 0.25em #a3a3a3

body
  margin: 0
  padding: $nav-content-padding * 2 + $nav-brand-font-size 0em 1em 0em
  background: lightgrey

