@import variables

.poll
  @extend .window
  .question
    display: block
    font-family: Arial
    border-style: none none solid none
    border-width: thin
    border-color: lightgrey
    margin-left: 0.5em
    margin-right: 1em
    padding-bottom: 0.5em
    margin-top: 0.3em
    margin-bottom: 0.5em
  .submit
    padding: 0.5em
    font-size: 1em
    border-style: solid
    border-width: thin
    border-color: green
    color: white
    background-color: #27A872
    border-radius: 0.3em
    @each $engine in $engines
      -#{$engine}-transition: background .25s ease-in-out
  .submit:hover
    background: #1C7A53
    cursor: pointer
  .content > .variant
    padding-top: 0.15em
    padding-bottom: 0.15em
    padding-left: 1em
  .variant:hover
    text-shadow: 0px 0px 1.5em grey
  .button-close
    float: right
    font-size: 1.2em
  .button-close:hover
    text-shadow: 0px 0px 0.4em black
    cursor: default
