@import well
@import basic_elements

.profile
  @extend .well
  width: 60%
  margin:
    left: 20%
    right: 20%
  a
    margin: 1em 0 1em 0
    text-align: center
    background: white
    display: block
    padding: 0.3em
    text-decoration: none
    color: black
    @include animate(background)
    font:
      family: "Arial"
      size: 0.9em
    border:
      radius: 3px
      style: solid
      width: thin
      color: darkgrey
    &:hover
      background: #E6E6E6
  img
    position: relative
    display: inline-block
    border:
      radius: 3px
      style: solid
      width: thin
      color: grey
  .personal-data
    display: inline-block
    margin-left: 1em
    position: absolute
    font:
      family: "Arial"
      size: 14px
  h1
    @include header-border
    font:
      family: "Helvetica", "Arial"
      size: 24px
      weight: normal
    span
      //float: right
      display: inline
      color: grey
      font:
        size: 16px
