@import basic_elements
@import well

.register-well
  @extend .well
  text-align: center
  position: absolute
  width: 28%
  margin:
    left: 1%
    right: 1%
  h2
    @include header-border
    font:
      family: "Helvetica", "Arial"
      size: 24px
      weight: normal

  a
    display: block
    text-decoration: none
    color: #0068FA
    font:
      family: "Arial"
      size: 13px
    padding: 0
    margin: 0

  label
    &:after
      content: ":"
      margin-left: 0.1em
    font:
      family: "Arial"
      size: 14px
      weight: bold

  @mixin input
    &:focus
      outline: 0
    display: block
    margin: 0.3em auto 0.3em auto
  input[type=email]
    @include input
  input[type=password]
    @include input
  input[type=text]
    @include input
  input[type=submit]
    @include button(white, #50AB5E)
    margin: 1em 0 1em 0
    font-size: 20px

.register-benefits
  @extend .well
  position: absolute
  margin-left: 32%
  width: 65%
  margin:
    right: 1%
  h1
    font:
      family: "Arial"
      weight: normal
  .benefit
    display: inline
    text-align: center
    float: left
    margin-left: 6em
    img
      display: inline
      height: auto
      width: auto
      text-align: center
    .description
      font:
        family: "Arial"
        size: 14px
