@import basic_elements
@import well

.user-settings
  @extend .well
  @include header-big
  h1
    display: inline
  a
    display: inline
    float: right
    text-decoration: none
    color: black
    @include button(black, white, 5%)
  .content
    margin: 1em 0 0 0
    .user-data
      width: 40%
      label
        display: block
        margin: 0.3em 0 0.3em 0
        font:
          family: "Arial"
          size: 14px
          weight: bold
      @mixin input
        display: block
        width: 100%
        height: 20px
        &:focus
          outline: 0
      input[type=text]
        @include input
      input[type=email]
        @include input
      input[type=password]
        @include input
      select
        @include input
        background: white
        border:
          color: lightgrey
          style: solid
          width: thin

      input.submit
        @include button(white, #4265FF, 5%)
        margin: 1em 0 0 0
        font-size: 16px

.danger-zone
  @extend .well
  border:
    top-left-radius: 6px
    top-right-radius: 6px

  padding: 0
  h1
    display: block
    padding: 0.6em
    margin: 0
    background: #FFF3BF
    text-align: right
    color: #D15E0D
    font:
      family: "Arial"
      size: 1.2em
      weight: normal
    border:
      style: solid
      width: thin thin 0 thin
      color: #FFD285
      radius: inherit
  .content
    $color: #DE4343
    padding: 1em
    text-align: center
    .button-delete
      @include button(#FFF7BF, #DE4343)
