@import variables
@import login

.welcome
    @extend .login
    p:after
        font:
            family: "FontAwesome"
        content: " \f118"
    font:
        family: Arial
        size: 14px
    .signup-link
        @include button(white, #50AB5E)
        margin: 1em 0 1em 0
        font-size: 20px
    .login-link
        @include button(white, #495BCC)
        margin: 1em 0 1em 0
        font-size: 20px
    .google-link
        @include button(white, #CC4949)
        margin: 1em 0 1em 0
        font-size: 20px



