@import variables

.well
  margin: 1em 0 1em 0
  padding: 1em
  display: block
  background: white
  border-radius: 0.2em
  border-style: solid
  border-color: #B8B8B8
  border-width: thin
  box-shadow: 0 0 1em darkgrey
  @each $engine in $engines
    -#{$engine}-transition: box-shadow .1s ease-out
