@import variables

.window
  border-style: solid
  border-width: thin
  border-color: lightgrey
  border-radius: 0.3em
  box-shadow: 0em 0em 1.5em 0.01em grey
  word-wrap: break-word
  .icon
    position: absolute
    padding-right: 1em
  .head
    border-top-left-radius: 0.5em
    border-top-right-radius: 0.5em
    padding: 0.5em
    text-transform: uppercase
    @each $engine in $engines
      background: -#{$engine}-linear-gradient(top, white, #e3e3e3)
    .title
      font-family: Arial
      padding: 0px
      display: inline
  .content
    padding: 0.5em
    font-size: 0.8em
    font-family: Arial
  .footer
    padding: 0.5em
