= link_to "Atom Reader",  root_path, :class=> 'brand'
- if user_signed_in?
  = link_to "", :destroy_user_session, :method => :delete, :title => t('navigation.logout_hint'), :class =>"glyph logout"
  = link_to "", :edit_user_registration, :title=> t('navigation.user_settings_hint'), :class =>"glyph user"
  = link_to "", subscriptions_path, :title => t("navigation.subscriptions_hint"), :class => "glyph channels"
  %a.glyph.fav{:href => "/favorites", :title => t('navigation.favorites_hint')}
  = form_tag :feed, :method => "get", :class => "glyph search" do
    = text_field_tag :search, params[:search], :placeholder => t('navigation.search_hint')
- else
  - if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'users'
    = link_to "", new_registration_path(resource_name), :class => "glyph signup", :title => t('navigation.signup')
  = link_to "", user_omniauth_authorize_path(:google_oauth2), :class => "glyph googleplus", :title => t('navigation.google_signup')