!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title Rss
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags
  %body
    %nav
      .content
        = render 'layouts/navigation'
    .body
      = render 'layouts/alerts'
      = yield